# Base de usuários da Biblioteca online

Carregar o relatório de usuários da biblioteca, restringir os usuários que com mais de 60 dias sem acesso, trazer o status da matrícula dos alunos e identificar quais dos inativos ainda estão matriculados e seus cursos, para tratativas futuras.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#Caso ainda não tenha instalado, !pip install openpyxl

In [2]:
df_b = pd.read_excel('Usuarios Biblioteca Virtual.xlsx')
df_b.head()

,Nome,Id Pessoa,Email,Status,Data Cadastro,Último Acesso
0,00518004546 santana santos,11504320,ivanuzia96@gmail.com,Ativo,26/12/2019 14:44:34,29/06/2022 16:03:08
1,01955405301 nascimento,13579969,rozangeladonascimento@gmail.com,Ativo,31/12/2020 09:57:09,27/04/2022 10:10:34
2,02616997339 almeida,11041503,sandraney77@hotmail.com,Ativo,03/12/2019 13:22:32,14/11/2020 23:31:26
3,04707440304 Moreira Mota,12304825,jotaplay2010@hotmail.com,Ativo,17/06/2020 18:14:13,12/09/2020 23:53:12
4,050.003.463-00 Da Silva Lima,13632253,geicianelima031@gmail.com,Ativo,15/09/2021 11:55:01,15/09/2021 11:55:13

In [3]:
df_a = pd.read_excel('Alunos.xlsx')
df_a.head()

,NOME_ALUNO,EMAIL,CURSO,NIVEL_ENSINO,RA,STATUS_PERI_LETIVO
0,ABDALENA ALISSA CRUZ GARÇÊS,abdalenaalissa15@gmail.com,SUPERIOR DE TECNOLOGIA EM GESTÃO DE RECURSOS H...,GRADUAÇÃO,20221115076,MATRICULADO SERIADO
1,ABEL DA COSTA RIBEIRO,ABEL.ICPM@GMAIL.COM,TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SIS...,GRADUAÇÃO,20222117906,MATRICULADO (PERÍODO LETIVO)
2,ABEL FERREIRA DA SILVA NETO,ABELFERREIRA160@GMAIL.COM,BACHAREL EM EDUCAÇÃO FÍSICA,GRADUAÇÃO,20221114342,PRÉ-MATRICULADO
3,ABIGAIL DA COSTA DAMASCENO,abigailcosta2912@gmail.com,PSICOLOGIA,GRADUAÇÃO,20171112715,PRÉ-CONCLUDENTE
4,ABIGAIL DA SILVA ALVES FIGUEREDO,abigailalv.figueredo@gmail.com,SUPERIOR DE TECNOLOGIA EM GESTÃO DE RECURSOS H...,GRADUAÇÃO,20221113337,MATRICULADO (PERÍODO LETIVO)

#Tratando a df_a

In [4]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10676 entries, 0 to 10675
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NOME_ALUNO          10676 non-null  object
 1   EMAIL               10675 non-null  object
 2   CURSO               10676 non-null  object
 3   NIVEL_ENSINO        10676 non-null  object
 4   RA                  10676 non-null  int64
 5   STATUS_PERI_LETIVO  10676 non-null  object
dtypes: int64(1), object(5)
memory usage: 500.6+ KB

In [5]:
df_a['NOME_ALUNO'] = df_a['NOME_ALUNO'].str.title()
df_a['EMAIL'] = df_a['EMAIL'].str.lower()
df_a['CURSO'] = df_a['CURSO'].str.title()
df_a['NIVEL_ENSINO'] = df_a['NIVEL_ENSINO'].str.title()
df_a['STATUS_PERI_LETIVO'] = df_a['STATUS_PERI_LETIVO'].str.title()

In [6]:
df_a.head()

,NOME_ALUNO,EMAIL,CURSO,NIVEL_ENSINO,RA,STATUS_PERI_LETIVO
0,Abdalena Alissa Cruz Garçês,abdalenaalissa15@gmail.com,Superior De Tecnologia Em Gestão De Recursos H...,Graduação,20221115076,Matriculado Seriado
1,Abel Da Costa Ribeiro,abel.icpm@gmail.com,Tecnologia Em Análise E Desenvolvimento De Sis...,Graduação,20222117906,Matriculado (Período Letivo)
2,Abel Ferreira Da Silva Neto,abelferreira160@gmail.com,Bacharel Em Educação Física,Graduação,20221114342,Pré-Matriculado
3,Abigail Da Costa Damasceno,abigailcosta2912@gmail.com,Psicologia,Graduação,20171112715,Pré-Concludente
4,Abigail Da Silva Alves Figueredo,abigailalv.figueredo@gmail.com,Superior De Tecnologia Em Gestão De Recursos H...,Graduação,20221113337,Matriculado (Período Letivo)

In [7]:
df_a['STATUS_PERI_LETIVO'].unique()

array(['Matriculado Seriado', 'Matriculado (Período Letivo)',
       'Pré-Matriculado', 'Pré-Concludente', 'Pré Matriculado Fies'],
      dtype=object)

In [8]:
Coluna = {'NOME_ALUNO':'Nome', 'EMAIL':'Email', 'CURSO':'Curso', 'RA':'R.A.', 'NIVEL_ENSINO':'Nível de Ensino', 'STATUS_PERI_LETIVO':'Status Matrícula'}
df_a.rename(columns=Coluna, inplace=True)

In [9]:
df_a['Nível de Ensino'].unique()

array(['Graduação'], dtype=object)

In [10]:
df_a.drop(['Nível de Ensino','R.A.'],axis=1,inplace=True)

In [11]:
df_a

,Nome,Email,Curso,Status Matrícula
0,Abdalena Alissa Cruz Garçês,abdalenaalissa15@gmail.com,Superior De Tecnologia Em Gestão De Recursos H...,Matriculado Seriado
1,Abel Da Costa Ribeiro,abel.icpm@gmail.com,Tecnologia Em Análise E Desenvolvimento De Sis...,Matriculado (Período Letivo)
2,Abel Ferreira Da Silva Neto,abelferreira160@gmail.com,Bacharel Em Educação Física,Pré-Matriculado
3,Abigail Da Costa Damasceno,abigailcosta2912@gmail.com,Psicologia,Pré-Concludente
4,Abigail Da Silva Alves Figueredo,abigailalv.figueredo@gmail.com,Superior De Tecnologia Em Gestão De Recursos H...,Matriculado (Período Letivo)
...,...,...,...,...
10671,Yuri Queiroz Ramos,yuriqueiroz2001@gmail.com,Administração,Matriculado Seriado
10672,Yuri Sandré Vieira Pires,yurisandrevieira@gmail.com,Biomedicina,Matriculado Seriado
10673,Yuri Silva Bezerra,rolindeyuri@hotmail.com,Direito,Matriculado Seriado
10674,Zelice Serpa Sampaio,zssampaio@yahoo.com.br,Direito,Matriculado (Período Letivo)
10675,Zilma Vasconcelos Dos Santos,zilmavasconcelos@live.com,Psicologia,Pré-Matriculado

#Tratando a df_b

In [12]:
df_b.head()

,Nome,Id Pessoa,Email,Status,Data Cadastro,Último Acesso
0,00518004546 santana santos,11504320,ivanuzia96@gmail.com,Ativo,26/12/2019 14:44:34,29/06/2022 16:03:08
1,01955405301 nascimento,13579969,rozangeladonascimento@gmail.com,Ativo,31/12/2020 09:57:09,27/04/2022 10:10:34
2,02616997339 almeida,11041503,sandraney77@hotmail.com,Ativo,03/12/2019 13:22:32,14/11/2020 23:31:26
3,04707440304 Moreira Mota,12304825,jotaplay2010@hotmail.com,Ativo,17/06/2020 18:14:13,12/09/2020 23:53:12
4,050.003.463-00 Da Silva Lima,13632253,geicianelima031@gmail.com,Ativo,15/09/2021 11:55:01,15/09/2021 11:55:13

In [13]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3432 entries, 0 to 3431
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           3432 non-null   object
 1   Id Pessoa      3432 non-null   int64
 2   Email          3432 non-null   object
 3   Status         3432 non-null   object
 4   Data Cadastro  3432 non-null   object
 5   Último Acesso  3432 non-null   object
dtypes: int64(1), object(5)
memory usage: 161.0+ KB

In [14]:
df_b.rename(columns={'Id Pessoa':'ID Pessoa'}, inplace=True)

In [15]:
df_b['Data Cadastro'] = pd.to_datetime(df_b['Data Cadastro'],format = '%d/%m/%Y %H:%M:%S')

In [16]:
#ERROR!! df_b['Último Acesso'].astype('datetime64')

In [17]:
df_b['Último Acesso2'] = df_b['Último Acesso'].str.replace('Sem Acesso',df_b['Último Acesso'].min(), regex=False)

In [18]:
df_b['Último Acesso'] = df_b['Último Acesso'].str.replace('Sem Acesso','', regex=False)
df_b['Último Acesso'] = pd.to_datetime(df_b['Último Acesso'])

In [19]:
df_b['Último Acesso2'] = pd.to_datetime(df_b['Último Acesso2'],format = '%d/%m/%Y %H:%M:%S')
df_b.head()

,Nome,ID Pessoa,Email,Status,Data Cadastro,Último Acesso,Último Acesso2
0,00518004546 santana santos,11504320,ivanuzia96@gmail.com,Ativo,2019-12-26 14:44:34,2022-06-29 16:03:08,2022-06-29 16:03:08
1,01955405301 nascimento,13579969,rozangeladonascimento@gmail.com,Ativo,2020-12-31 09:57:09,2022-04-27 10:10:34,2022-04-27 10:10:34
2,02616997339 almeida,11041503,sandraney77@hotmail.com,Ativo,2019-12-03 13:22:32,2020-11-14 23:31:26,2020-11-14 23:31:26
3,04707440304 Moreira Mota,12304825,jotaplay2010@hotmail.com,Ativo,2020-06-17 18:14:13,2020-12-09 23:53:12,2020-09-12 23:53:12
4,050.003.463-00 Da Silva Lima,13632253,geicianelima031@gmail.com,Ativo,2021-09-15 11:55:01,2021-09-15 11:55:13,2021-09-15 11:55:13

In [20]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3432 entries, 0 to 3431
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome            3432 non-null   object
 1   ID Pessoa       3432 non-null   int64
 2   Email           3432 non-null   object
 3   Status          3432 non-null   object
 4   Data Cadastro   3432 non-null   datetime64[ns]
 5   Último Acesso   3428 non-null   datetime64[ns]
 6   Último Acesso2  3432 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(1), object(3)
memory usage: 187.8+ KB

In [21]:
df_b['Status2'] = df_b['Último Acesso2'].map(lambda x: 'Inativo' if abs((datetime.now()-x).days) > 60 else 'Ativo')

In [22]:
df_b.head()

,Nome,ID Pessoa,Email,Status,Data Cadastro,Último Acesso,Último Acesso2,Status2
0,00518004546 santana santos,11504320,ivanuzia96@gmail.com,Ativo,2019-12-26 14:44:34,2022-06-29 16:03:08,2022-06-29 16:03:08,Inativo
1,01955405301 nascimento,13579969,rozangeladonascimento@gmail.com,Ativo,2020-12-31 09:57:09,2022-04-27 10:10:34,2022-04-27 10:10:34,Inativo
2,02616997339 almeida,11041503,sandraney77@hotmail.com,Ativo,2019-12-03 13:22:32,2020-11-14 23:31:26,2020-11-14 23:31:26,Inativo
3,04707440304 Moreira Mota,12304825,jotaplay2010@hotmail.com,Ativo,2020-06-17 18:14:13,2020-12-09 23:53:12,2020-09-12 23:53:12,Inativo
4,050.003.463-00 Da Silva Lima,13632253,geicianelima031@gmail.com,Ativo,2021-09-15 11:55:01,2021-09-15 11:55:13,2021-09-15 11:55:13,Inativo

In [23]:
df_b['Dias desde o último acesso'] = datetime.now()-df_b['Último Acesso2']

In [24]:
df_b.head(30)

,Nome,ID Pessoa,Email,Status,Data Cadastro,Último Acesso,Último Acesso2,Status2,Dias desde o último acesso
0,00518004546 santana santos,11504320,ivanuzia96@gmail.com,Ativo,2019-12-26 14:44:34,2022-06-29 16:03:08,2022-06-29 16:03:08,Inativo,66 days 06:20:31.874916
1,01955405301 nascimento,13579969,rozangeladonascimento@gmail.com,Ativo,2020-12-31 09:57:09,2022-04-27 10:10:34,2022-04-27 10:10:34,Inativo,129 days 12:13:05.874916
2,02616997339 almeida,11041503,sandraney77@hotmail.com,Ativo,2019-12-03 13:22:32,2020-11-14 23:31:26,2020-11-14 23:31:26,Inativo,657 days 22:52:13.874916
3,04707440304 Moreira Mota,12304825,jotaplay2010@hotmail.com,Ativo,2020-06-17 18:14:13,2020-12-09 23:53:12,2020-09-12 23:53:12,Inativo,720 days 22:30:27.874916
4,050.003.463-00 Da Silva Lima,13632253,geicianelima031@gmail.com,Ativo,2021-09-15 11:55:01,2021-09-15 11:55:13,2021-09-15 11:55:13,Inativo,353 days 10:28:26.874916
5,05850242350 Brenda,12792843,giselebrendaalimaf@outlook.com,Ativo,2020-02-20 22:03:25,2021-08-03 14:33:05,2021-03-08 14:33:05,Inativo,544 days 07:50:34.874916
6,05926339340 vaz,12621809,contatoevv@hotmail.com,Ativo,2021-01-25 20:52:13,2021-03-14 23:28:34,2021-03-14 23:28:34,Inativo,537 days 22:55:05.874916
7,61131896351 Sousa,12855633,mateusstyfler4@gmail.com,Ativo,2021-03-05 19:39:52,2021-05-03 19:39:55,2021-03-05 19:39:55,Inativo,547 days 02:43:44.874916
8,61999750306 patricia,13208526,karla-patricia_bs@hotmail.com,Ativo,2021-05-13 09:25:02,2022-07-02 21:42:40,2022-02-07 21:42:40,Inativo,208 days 00:40:59.874916
9,72491698315 Sousa Araújo,11384775,vaniaaraujohair@gmail.com,Ativo,2020-03-04 12:11:14,2020-06-04 20:20:54,2020-04-06 20:20:54,Inativo,880 days 02:02:45.874916
10,83458883304 lima,12649183,darlancheila@hotmail.com,Ativo,2021-02-02 20:52:05,2021-02-02 21:56:45,2021-02-02 21:56:45,Inativo,578 days 00:26:54.874916
11,94030758304 barroso barbosa,12407194,criss1_b@hotmail.com,Ativo,2019-11-06 17:33:50,2021-06-24 09:01:22,2021-06-24 09:01:22,Inativo,436 days 13:22:17.874916
12,Abigail Jeronimo Nascimento,12626025,abigailjeronimo22@gmail.com,Ativo,2020-06-05 14:59:51,2021-05-05 21:45:54,2021-05-05 21:45:54,Inativo,486 days 00:37:45.874916
13,Abimael Vasconcelos,14442110,abimaelvsilva@gmail.com,Ativo,2022-06-25 20:26:21,2022-06-25 20:26:23,2022-06-25 20:26:23,Inativo,70 days 01:57:16.874916
14,Acalane Benicio Andrade,14412202,andradeacalane@gmail.com,Ativo,2022-06-09 08:18:57,2022-09-06 08:23:19,2022-06-09 08:23:19,Inativo,86 days 14:00:20.874916
15,Acelio Fidelis,11364779,aceliofidelis@gmail.com,Ativo,2021-01-28 10:19:43,2021-02-02 14:26:39,2021-02-02 14:26:39,Inativo,578 days 07:57:00.874916
16,Adenilson Escossio,14466466,adenilsonpe@gmail.com,Ativo,2022-07-12 17:10:06,2022-08-28 22:41:14,2022-08-28 22:41:14,Ativo,5 days 23:42:25.874916
17,adila oliveira,11590528,adimaria2009.com@hotmail.com,Ativo,2020-03-24 15:43:07,2020-03-24 15:43:11,2020-03-24 15:43:11,Inativo,893 days 06:40:28.874916
18,Adinete Maria Cavalcante Mota,11169445,adinete.mota@professor.uniateneu.edu.br,Ativo,2020-02-07 17:45:39,2020-10-07 10:40:17,2020-07-10 10:40:17,Inativo,785 days 11:43:22.874916
19,Adjane Tavares,12086274,adjane.gomes2008@gmail.com,Ativo,2020-07-18 14:18:51,2020-07-18 14:18:52,2020-07-18 14:18:52,Inativo,777 days 08:04:47.874916
20,Adolfo Silva,12876220,pereiraadolfo488@gmail.com,Ativo,2020-02-20 07:40:03,2021-05-15 15:40:59,2021-05-15 15:40:59,Inativo,476 days 06:42:40.874916
21,Adqueila Silva,13121214,adqueila2001@gmail.com,Ativo,2021-04-21 21:06:59,2022-04-02 17:16:12,2022-02-04 17:16:12,Inativo,211 days 05:07:27.874916
22,ADRIA RODRIGUES,13364340,drigues.adria@gmail.com,Ativo,2021-07-03 12:25:57,2021-03-07 12:26:08,2021-07-03 12:26:08,Inativo,427 days 09:57:31.874916
23,Adrian Santana,11473668,asantanareboucas17@gmail.com,Ativo,2020-03-12 18:38:21,2020-04-26 22:43:07,2020-04-26 22:43:07,Inativo,859 days 23:40:32.874916
24,ADRIAN GOMES,12891614,adrianwes14@gmail.com,Ativo,2021-03-10 23:39:13,2021-10-19 15:27:15,2021-10-19 15:27:15,Inativo,319 days 06:56:24.874916
25,ADRIANA NOGUEIRA RIBEIRO BRIZENO,13556401,adrianabrizeno@aluno.uniateneu.edu.br,Ativo,2021-08-24 21:53:33,2021-08-24 21:53:36,2021-08-24 21:53:36,Inativo,375 days 00:30:03.874916
26,Adriana Arruda de Sousa,14287198,adrianaarruda.esv@gmail.com,Ativo,2022-04-26 00:01:24,2022-04-28 21:23:51,2022-04-28 21:23:51,Inativo,128 days 00:59:48.874916
27,Adriana Macêdo,11384571,adriianamacedo.s@gmail.com,Ativo,2020-03-04 11:47:31,2020-04-03 11:47:33,2020-03-04 11:47:33,Inativo,913 days 10:36:06.874916
28,Adriana nascimento,14172901,Driana20142014@gmail.com,Ativo,2022-03-24 09:12:50,2022-03-24 09:12:54,2022-03-24 09:12:54,Inativo,163 days 13:10:45.874916
29,Adriano Paula Alves,12533365,adriano.depaulla@gmail.com,Ativo,2020-11-24 05:32:55,2020-11-24 06:32:57,2020-11-24 06:32:57,Inativo,648 days 15:50:42.874916

In [25]:
df_b.drop(['Dias desde o último acesso','Último Acesso2','Status','Nome'],axis=1,inplace=True)

In [26]:
df_b.rename(columns={'Status2':'Status'},inplace=True)
df_b.head()

,ID Pessoa,Email,Data Cadastro,Último Acesso,Status
0,11504320,ivanuzia96@gmail.com,2019-12-26 14:44:34,2022-06-29 16:03:08,Inativo
1,13579969,rozangeladonascimento@gmail.com,2020-12-31 09:57:09,2022-04-27 10:10:34,Inativo
2,11041503,sandraney77@hotmail.com,2019-12-03 13:22:32,2020-11-14 23:31:26,Inativo
3,12304825,jotaplay2010@hotmail.com,2020-06-17 18:14:13,2020-12-09 23:53:12,Inativo
4,13632253,geicianelima031@gmail.com,2021-09-15 11:55:01,2021-09-15 11:55:13,Inativo

In [27]:
df= pd.merge(df_b,df_a,how='inner', on='Email')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1128 entries, 0 to 1127
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID Pessoa         1128 non-null   int64
 1   Email             1128 non-null   object
 2   Data Cadastro     1128 non-null   datetime64[ns]
 3   Último Acesso     1128 non-null   datetime64[ns]
 4   Status            1128 non-null   object
 5   Nome              1128 non-null   object
 6   Curso             1128 non-null   object
 7   Status Matrícula  1128 non-null   object
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 79.3+ KB

In [33]:
df.to_excel('Usuarios Biblioteca Virtual_atual.xlsx', index=False)

In [43]:
filtro_inativos = df['Status'] == 'Inativo'

print('{} pessoas estão inativas na base.' .format(df[filtro_inativos]['Nome'].count()))

992 pessoas estão inativas na base.

In [52]:
cursos = df[filtro_inativos].groupby(['Curso'])

In [ ]:
#cursos que mais tem alunos inativos

In [61]:
cursos.size().sort_values(ascending=False).head(10)

Curso
Direito                        83
Psicologia                     80
Enfermagem                     79
Fisioterapia                   53
Pedagogia - Ead                43
Pedagogia                      41
Estética E Cosmética           37
Administração                  37
Bacharel Em Educação Física    34
Odontologia                    32
dtype: int64

In [65]:
status = df[filtro_inativos].groupby(['Status Matrícula'])

In [ ]:
#Número de alunos inativos por Status da Matrícula

In [67]:
status.size().sort_values(ascending=False)

Status Matrícula
Matriculado (Período Letivo)    417
Matriculado Seriado             381
Pré-Concludente                  93
Pré-Matriculado                  89
Pré Matriculado Fies             12
dtype: int64

In [68]:
df[filtro_inativos].to_excel('Usuarios Biblioteca Virtual_inativos.xlsx', index=False)